Pillow==4.0.0
Twisted==19.2.0
coloredlogs==6.0
colormath==3.0.0
freezegun==0.3.8
genshi==0.7
klein==17.2.0
mock==2.0.0
noise==1.2.2
nose-watcher==0.1.3
nose==1.3.7
pyjade==4.0.0
pyserial==3.3
python-dateutil==2.6.0
pyusb==1.0.0
rdflib==4.2.2
requests==2.22.0
scipy==1.3.0
service_identity==18.1.0
statprof==0.1.2
toposort==1.5
treq==18.6.0
txzmq==0.8.0
typing==3.6.1
watchdog==0.8.3
webcolors==1.7
udmx-pyusb==2.0.0
yapf==0.27.0

coverage==4.3.4
ipdb==0.10.2
ipython==5.3.0
mypy==0.701
flake8
typing_extensions

git+http://github.com/drewp/scales.git@3f2609c#egg=scales
git+http://github.com/11craft/louie.git@f18bb71010c114eca9c6b88c96453340e3b39454#egg=louie
git+http://github.com/webpy/webpy@ace0f8954c28311004b33c7a513c6e40a3c02470#egg=web
https://github.com/drewp/cyclone/archive/python3.zip#egg=cyclone

cycloneerr==0.3.0
rdfdb==0.17.0
