doctype html
html
  head
    title effects
    link(rel='stylesheet', href='style.css')
  body
    h1 Effects

    div(data-bind="foreach: moreExprs")
      div.resource.chase
        span(data-bind="text: label")
        | 
        a.resource(data-bind="attr: {href: $root.subtermLink(label, expr)}, text: expr")
    
    div(data-bind="foreach: chases")
      div.resource.chase
        | Chase
        a(data-bind="attr: {href: uri}, text: label")
        ul(data-bind="foreach: $parent.subtermExprs($data)")
          li: a.resource(data-bind="attr: {href: $root.subtermLink($parent.label, $data)}, text: $data")

    #status
      
    script(src="static/jquery-2.1.1.min.js")
    script(src="static/knockout-3.1.0.js")
    script(src="static/websocket.js")
    script(src="effects.js")