doctype html
html
  head
    title subserver
    link(rel='stylesheet', href='style.css')
  body
    h1 Submasters

    div
      input(type='checkbox', data-bind='checked: showLocal', id='showLocal')
      label(for='showLocal') show local
    
    div(data-bind="foreach: subs")
      // ko if: $parent.showLocal() || !isLocal
      a.resource.sub(data-bind="css: {local: isLocal}, attr: {href: uri}")
        div(data-bind="if: isLocal") (local)
        div
          | Label
          input(type="text", data-bind="value: label")
        div
          img(data-bind="attr: {src: img}")
        div
          button(data-bind="click: $root.snapshot")
            New snapshot
            
      // /ko

    #status
      
    script(src="jquery-1.7.2.min.js")
    script(src="knockout-2.2.1.js")
    script(src="websocket.js")
    script(src="gui.js")