body {
    font-family: sans;
    background: rgb(0, 0, 0);
    color: rgb(163, 163, 163);
}

a.sub {
    color: inherit;
    text-decoration: none;
}
    
.sub {
    border: 1px solid gray;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    background: rgb(66, 66, 66);
    display: inline-block;
    vertical-align: top;
}
.sub.local {
    background: rgb(44, 44, 44);
}
.sub img {
    width: 180px;
    height: 90px;
    margin: 6px;
    background: -webkit-gradient(linear,right top,left bottom,color-stop(0,rgb(121, 120, 120)),color-stop(1,rgb(54, 54, 54)));
}

input[type=text] {
    border: 1px inset rgb(177, 177, 177);
    background: rgb(230, 230, 230);
    padding: 3px;
}