body { 
    background: black;
    color: white;
    font-family: sans-serif;
}
h1 {
    margin: 0;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
ul {
    margin: 0;
}
a {
    color: rgb(97, 97, 255);
}


input[type=text] {
    border: 1px inset rgb(177, 177, 177);
    background: rgb(230, 230, 230);
    padding: 3px;
}
#status {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.47);
    padding-left: 6px;
}


.songs {
    -moz-column-width:205px;
    -webkit-column-width:205px;
}
.songs button {
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: left;
    background: black;
    color: white;
    margin: 2px;
    font-size: 115%;
}
button a {
    color: white;
}
.songs button:hover {
    color: black;
    background: #333;
}

.commands button {
    background: black;
    color: white;
    padding: 20px
}
.commands button.active {
    background: #1C4054;
}
.key {
    color: #888;
}
.currentSong button {
    background: #55A5C9;
}
.timeRow {
    margin: 14px;
}
.stalled {
    opacity: .5;
}
.num {
    font-size: 27px;
    color: rgb(233, 122, 122);
    display: inline-block;
    padding: 10px
}

.dropTarget {
    padding: 10px 5px;
    border: 2px dashed gray;
    font-style: italic;
    color: rgb(78, 90, 107);
}
.dropTarget:hover {
    background: #1F1F0D;
}
.twoColList {
    -webkit-column-width: 24em;
}
.twoColList > li {
    margin-bottom: 13px;
}

.song {
    color: rgb(85, 221, 85);
}
.song:before {
    content: "♫";
    color: black;
    background: rgb(85, 221, 85);
    border-radius: 30%;
}

.effect:before {
    content: "⛖";
}

.song:before, .effect:before {
    margin-right: 3px;
    text-decoration: none !important;
    font-size: 140%;
}

/* ascoltami mini mode */
@media (max-height: 600px) {
    .songs {
        -webkit-column-width: 9em;
    }
    .songs button {
        font-size: initial;
        height: initial;
        width: 100%;
        margin: initial;
        border-width: 1px;
        margin-bottom: 2px;
    }
    .num {
        font-size: initial;
        padding: initial;
    }
    .commands button {
        padding: 5px;
    }
}

/* subserver */
.vari {
    color: white;
}
a.resource {
    color: inherit;
    text-decoration: none;
}

.resource {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1px;
    margin: 2px;
    background: rgb(66, 66, 66);
    display: block;
}
.resource a {
    color: rgb(150, 150, 255);
}
.sub {
    display: inline-block;
    vertical-align: top;
}
.sub.local {
    background: rgb(44, 44, 44);
}
.sub img {
    width: 196px;
    min-height: 40px;
    margin: 0 6px;
    background: -webkit-gradient(linear,right top,left bottom,color-stop(0,rgb(121, 120, 120)),color-stop(1,rgb(54, 54, 54)));
}
.chase {
    background: rgb(75, 57, 72);
}

a button {
    font-size: 60%;
}
a.big {
    background-color: #384052;
    padding: 9px;
    text-shadow: rgba(0, 0, 0, 0.48) -1px -1px 0px;
    color: rgb(172, 172, 255);
    font-size: 160%;
    margin: 0px;
    display: inline-block;
    border-radius: 5px;
}

/* rdfdb */
#patches { /* wants flex box */
    max-height: 27em;
    overflow-y: scroll;
}
.patch {
    border: 1px solid gray;
    padding: 2px;
    margin: 4px;
}
.patch > div {
    font-family: monospace;
    font-size: 90%;
    white-space: pre-wrap;
} 
.patch .adds {
    color: #3AEA38;
}
.patch .deletes {
    color: #FF2828;
}
#out {
    white-space: pre-wrap;
}
.patch fieldset {
    color: gray;
    font-family: arial;
    font-size: 75%;
}
